<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <nav>
        <div class="menuToggle">
            <input type="checkbox" />
            <span></span>
            <span></span>
            <span></span>
            <ul class = "menu">
                <a href="#">
                     <li>Home</li>
                </a>
                <a href="#">
                     <li>About</li>
                </a>
                <a href="#">
                     <li>Info</li>
                </a>
                <a href="#">
                     <li>Contact</li>
                </a>
                <a href="#">
                     <li>More</li>
                </a>
            </ul>
        </div>
    </nav>
</body>
</html>