<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <ul>
       <li>
        <a href="#">
            <i class="fa fa youtube" aria-hidden="true"></i>
            <span> - Youtube</span>
        </a>
       </li> 
       <li>
        <a href="#">
            <i class="fa fa tik-tok" aria-hidden="true"></i>
            <span> - TikTok</span>
        </a>
       </li>
       <li>
        <a href="#">
            <i class=" fa fa instagram" aria-hidden="true"></i>
            <span> - Instagram</span>
        </a>
       </li>
    </ul>
</body>
</html>